
body {
  font-weight: 300, 600;
}

.phone {
  background-image: url(images/bg-pattern-circles.svg), linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: contain;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 95px;
}

.art {
  bottom: 180px;
}

.logoo {
  width: 20%;
}

.title {
  font-family:'Ubuntu', sans-serif;
  font-weight: 600;
  color: hsl(240, 10%, 16%)
}

.pass {
  font-family:'Ubuntu', sans-serif;
}

footer {
  background-image: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-top-right-radius: 75px;
}

.leading-header {
  background-color: hsl(353, 100%, 62%);
  height: auto;
  background-image:  url(images/bg-pattern-intro.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 60px;
}

.leading-header:hover {
  transition: all ease-in-out;
  transition-duration: 1.5s;
}

.login-link:hover {
  cursor: pointer;
  text-decoration: underline #000;
}
.btn {
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: hsl(353, 100%, 62%);
}

.first-section {
  color: hsl(207, 13%, 34%);
  display: flex;
}

.first-section-text {
    color: hsl(208, 49%, 24%);
}
