body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.phone {
  background-image: url(images/bg-pattern-circles.svg), linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: contain;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 95px;
}

.art {
  bottom: 180px;
}

.logoo {
  width: 20%;
}

.title {
  font-family:'Ubuntu', sans-serif;
  font-weight: 600;
  color: hsl(240, 10%, 16%)
}

.pass {
  font-family:'Ubuntu', sans-serif;
}

footer {
  background-image: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-top-right-radius: 75px;
}